# Dependency directories
node_modules/
.next/
out/

# Build files
build/
dist/

# Cache files
.cache/

# Environment variables
.env*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug files
debug.log

# Local development files
*.local

# Testing files
coverage/
.nyc_output/

# Optional ESLint cache
.eslintcache

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn/cache

# Optional pnpm cache directory
.pnpm-store/

# Optional Turbo cache
.turbo/